nav ul a{
    color: #00328F;
}

nav .nav-wrapper {    
    background: #e4e4e4;
}

nav .button-collapse i {
    color: #0065B3;
}

nav ul li{
    width: 180px;
}

.dropdown-content li>a, .dropdown-content li>span {    
    color: #00328F;    
}

.hero{    
    background: #0065B3; 
    background: -webkit-radial-gradient(bottom,#0096D6 12%,#00328F);
    background: radial-gradient(at bottom,#0096D6 12%,#00328F);    
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center; 
    flex-flow: column;
}

#titulo{
    margin-bottom: 40px;
}
.hero h1{
    font-size: 2rem;    
    text-align: center;
}

.animation-container{
    width: auto;
    height: 2.2rem;/* height: 35px; */
    overflow: hidden;
    margin-top: 20px;
    font-weight: bold;
}

.animation-container ul{
    margin: 0;
}

h1 ul{
    /* height: 35px;     */
    animation: cambiar 20s infinite;
}

.hero_marcas{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes cambiar{
    0%{margin-top:0; }
    3%{margin-top: 0;}

    5%{margin-top: -35px;}
    8%{margin-top: -35px;}

    10%{margin-top: -60px;}
    13%{margin-top: -60px;}

    15%{margin-top: -100px;}
    18%{margin-top: -100px;}

    20%{margin-top: -130px;}
    23%{margin-top: -130px;}

    25%{margin-top: -165px;}
    28%{margin-top: -165px;}

    30%{margin-top: -195px;}
    33%{margin-top: -195px;}

    35%{margin-top: -225px;}
    38%{margin-top: -225px;}

    40%{margin-top: -265px;}
    43%{margin-top: -265px;}

    45%{margin-top: -295px;}
    48%{margin-top: -295px;}

    50%{margin-top: -325px;}
    52%{margin-top: -325px;}

    54%{margin-top: -360px;}
    56%{margin-top: -360px;}

    58%{margin-top: -325px;}
    60%{margin-top: -325px;}

    62%{margin-top: -295px;}
    64%{margin-top: -295px;}

    66%{margin-top: -265px;}
    68%{margin-top: -265px;}

    70%{margin-top: -225px;}
    72%{margin-top: -225px;}

    74%{margin-top: -195px;}
    76%{margin-top: -195px;}

    78%{margin-top: -165px;}
    80%{margin-top: -165px;}

    82%{margin-top: -130px;}
    84%{margin-top: -130px;}

    86%{margin-top: -100px;}
    88%{margin-top: -100px;}

    90%{margin-top: -60px;}
    92%{margin-top: -60px;}

    94%{margin-top: -35px;}
    96%{margin-top: -35px;}

    98%{margin-top: -0px;}
    100%{margin-top: -0px;}
}


.call-to-action{
    height: 80px;
    background: #e4e4e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.btn-large {    
    background-color: #26a646;   
}


.slider-principal img{
    width: 100%;
    height: auto;
}

.ventas{
    margin-top: -40px;
}

.ventas h4{
    text-align: center;
    color: rgb(255, 255, 255);
    background: #0065B3; 
    background: -webkit-radial-gradient(bottom,#0096D6 12%,#00328F);
    background: radial-gradient(at bottom,#0096D6 12%,#00328F);  
    padding: 20px 0;   
    margin-top: 0;
}

.card .card-image .card-title {
    background-color: rgba(0, 0, 0, 0.69);
    padding: 0;
    font-size: 22px; 
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #00328F;
   
}



iframe{
    min-height: 800px;;
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}


@media screen and (max-width: 600px) {   

    @keyframes cambiar{
        0%{margin-top:0; }
        3%{margin-top: 0;}
    
        5%{margin-top: -30px;}
        8%{margin-top: -30px;}
    
        10%{margin-top: -60px;}
        13%{margin-top: -60px;}
    
        15%{margin-top: -90px;}
        18%{margin-top: -90px;}
    
        20%{margin-top: -120px;}
        23%{margin-top: -120px;}
    
        25%{margin-top: -150px;}
        28%{margin-top: -150px;}
    
        30%{margin-top: -180px;}
        33%{margin-top: -180px;}
    
        35%{margin-top: -210px;}
        38%{margin-top: -210px;}
    
        40%{margin-top: -240px;}
        43%{margin-top: -240px;}
    
        45%{margin-top: -270px;}
        48%{margin-top: -270px;}
    
        50%{margin-top: -300px;}
        52%{margin-top: -300px;}
    
        54%{margin-top: -330px;}
        56%{margin-top: -330px;}
    
        58%{margin-top: -300px;}
        60%{margin-top: -300px;}
    
        62%{margin-top: -270px;}
        64%{margin-top: -270px;}
    
        66%{margin-top: -240px;}
        68%{margin-top: -240px;}
    
        70%{margin-top: -210px;}
        72%{margin-top: -210px;}
    
        74%{margin-top: -180px;}
        76%{margin-top: -180px;}
    
        78%{margin-top: -150px;}
        80%{margin-top: -150px;}
    
        82%{margin-top: -120px;}
        84%{margin-top: -120px;}
    
        86%{margin-top: -90px;}
        88%{margin-top: -90px;}
    
        90%{margin-top: -60px;}
        92%{margin-top: -60px;}
    
        94%{margin-top: -30px;}
        96%{margin-top: -30px;}
    
        98%{margin-top: -0px;}
        100%{margin-top: -0px;}
    }
    
}

.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}

.slider {
    width: 100%;
    /* height: 400px; */
    margin: 0 auto;
}

.slider .indicators {
    bottom: 60px;
    z-index: 100;
    /* text-align: left; */
}